---
name: Pre-commit

on:
  pull_request:
    branches:
      - main
  pull_request_review:
    types: [submitted]
  push:
    branches:
      - main

jobs:
  pre-commit:
    # Trigger a run when approving a dependabot PR or as usual
    if: >-
      (github.event.review.state == 'approved' && github.event.pull_request.user.login == 'dependabot[bot]') ||
      (github.actor != 'dependabot[bot]' && github.event_name != 'pull_request_review')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: Alfresco/alfresco-build-tools/.github/actions/github-https-auth@v15.1.0
        with:
          username: ${{ vars.PLATFORM_BOT_USERNAME }}
          pat: ${{ secrets.PLATFORM_BOT_TOKEN }}

      - uses: Alfresco/alfresco-build-tools/.github/actions/pre-commit@v15.1.0
        with:
          auto-commit: "true"
