name: Release

on:
  pull_request:
    types:
    - closed
  workflow_dispatch:
    inputs:
      release_type:
        description: "Release type"
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
    release:
        name: Release
        if: github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch'
        uses: Alfresco/alfresco-build-tools/.github/workflows/reusable-release.yml@ea211659654c7d82fc7241455140cf08064d9598 # v12.4.2
        with:
          release_type_override: ${{ inputs.release_type }}
          commit_username: ${{ vars.PLATFORM_BOT_USERNAME }}
        secrets:
          BOT_GITHUB_TOKEN: ${{ secrets.PLATFORM_BOT_TOKEN }}
